@model IList<PharmaClinicalSuite.Models.Participants>
@using HashidsNet
@using PharmaClinicalSuite.Utility
<div>
    <h4>Participants</h4>
    <hr />
    <table class=" table table-striped" style="font-size:x-small">
        <thead>
            <tr>
                @foreach(var prop in typeof(Participants).GetProperties())
                {
                    @if (prop.Name.ToString().ToLower() != "participantid" 
                            && prop.Name.ToString().ToLower() != "enrollments"
                            && prop.Name.ToString().ToLower() != "adverseevents"
                           && prop.Name.ToString().ToLower() != "genderlistoption"
                           && prop.Name.ToString().ToLower() != "medicalhistoryoption")
                    {
                         <td>@Html.DisplayName(@prop.Name)</td>
                    }
                }
                <td>@Html.DisplayName(" ")</td>
            </tr>
        </thead>
       
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.City)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.MedicalHistory)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Allergies)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.BMI)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.GuardianInfo)
                </td>
                @{
                    var encodedId = HashIdHelper.EncodeId(item.ParticipantId);
                }
                <td><a asp-action="Edit" asp-controller="ClinicalTrial" asp-route-id="@encodedId">Edit</a></td>
            </tr>
            }

    </table>
 
<div>
    <a asp-action="Create" asp-controller="ClinicalTrial">New</a>      
</div>
</div>
