@model PharmaClinicalSuite.Models.Participants
 

<h4>Participant: @Model.FirstName  @string.Empty  @Model.LastName</h4>
<hr />
<div class="row">
   
    <!--<div class="col-md-4">-->
    <form asp-action="Edit" asp-route-id="@ViewBag.decodeId" method="post">
            <table>
                <tr>
                    <td width="50%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                    <input type="hidden" name="id" value="@ViewBag.decodeId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
               @*  <input asp-for="Gender" class="form-control" /> *@
                        @Html.DropDownListFor(model => model.Gender, Model.GenderListOption, "Select Gender", new { @class = "form-control" })
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            </td>
            <td width="50%">
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalHistory" class="control-label"></label>
                        @Html.DropDownListFor(model => model.MedicalHistory, Model.MedicalHistoryOption, "Select Medical History", new { @class = "form-control" })
                <span asp-validation-for="MedicalHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allergies" class="control-label"></label>
                <input asp-for="Allergies" class="form-control" />
                <span asp-validation-for="Allergies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BMI" class="control-label"></label>
                <input asp-for="BMI" class="form-control" />
                <span asp-validation-for="BMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianInfo" class="control-label"></label>
                <input asp-for="GuardianInfo" class="form-control" />
                <span asp-validation-for="GuardianInfo" class="text-danger"></span>
            </div>
            </td>
                
             </tr>
             <tr>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </td>
             </tr>
            </table>
        </form>
    <!-- </div>-->
        
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
